.navLinksContainer {
  display: flex;
  flex: 2;
  position: relative;
}

.navButton {
  font-size: 1.4rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  padding: 20px 5px 17px;
  padding-bottom: 2.1rem;
  vertical-align: baseline;
  span {
    vertical-align: super;
    color: #009E74;
    font-size: 10px;
  }
}

.navButton:hover {
  cursor: pointer;
  color: #009E74;
}

.selected {
  font-weight: bold;
}

.movingUnderline {
  position: absolute;
  height: 3px;
  background-color: black;
  bottom: 0;
  transition: .3s ease-in-out;
}
#campaign.navButton.selected ~ .movingUnderline {
  margin-left: 18px;
  width: 76.22px;
}

#faq.navButton.selected ~ .movingUnderline {
  margin-left: 130.22px;
  width: 39.53px;
}

#updates.navButton.selected ~ .movingUnderline {
  margin-left: 205.75px;
  width: 69.39px;
}

#comments.navButton.selected ~ .movingUnderline {
  margin-left: 311.14px;
  width: 103.27px;
}

#community.navButton.selected ~ .movingUnderline {
  margin-left: 450.41px;
  width: 85.56px;
}