@import 'NavLinks';
@import 'InterestedLinks';
$font-stack: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;

html {
  font-size: 10px;
  font-family: $font-stack;
}

.navbarContainer {
  display: flex;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.navbarContainerWrapper {
  border-top: 1px solid #DCDEDD;
  border-bottom: 1px solid #DCDEDD;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 500;
  background: white;
}